################################################################################
#
#   Files for git to ignore
#
################################################################################

# Python bytecode files
*.pyc

# SQLite database files
rmgweb/sqlitedb/*
rmgweb/rmgweb.db

# The secret settings module
rmgweb/secretsettings.py

# jQuery
rmgweb/media/jquery.js

# jsMath
rmgweb/media/jsMath/*

# Highcharts
rmgweb/media/Highcharts/*

# Database files
database/*

# Uploaded MEASURE files
rmgweb/media/pdep/networks/*

# Uploaded RMG files
rmgweb/media/rmg/tools/*

/rmgweb/nbproject/private/private.xml
/rmgweb/nbproject/project.properties
/rmgweb/nbproject/project.xml

# Eclipse project files
.project
.pydevproject
.settings/*

# WSGI
apache/* 
apache/django.wsgi
