################################################################################
#
#   Files for git to ignore
#
################################################################################

# Python bytecode files
rmgweb/*.pyc

# SQLite database files
rmgweb/*.db

