################################################################################
#
#   Files for git to ignore
#
################################################################################

# Python bytecode files
*.pyc

# SQLite database files
rmgweb/*.db

# The secret key module
rmgweb/secretkey.py

# jQuery
rmgweb/media/jquery.js

# jsMath
rmgweb/media/jsMath/*

# Database files
database/*
