name: rmg_env
channels:
  - defaults
  - rmg
dependencies:
  - libgcc # [unix]
  - python
  - numpy
  - cython ==0.21
  - matplotlib
  - rdkit
  - pydas
  - pydqed
  - quantities
  - scipy
  - xlwt
  - markupsafe
  - jinja2
  #- argparse # [py26]
  - pyparsing
  - pydot ==1.2.2
  - nose
  - coverage
  - guppy
  - gprof2dot
  - cairo
  - cairocffi
  - openbabel
  - psutil
  - symmetry
  - mopac
  - graphviz
  - django ==1.8.4
  - beautifulsoup4
  - xlrd
  - docutils