# Required python packages. You can install them all via something like:
#    pip install -r requirements.txt

# You will first need RMG-Py installed and working

# These are the additional dependencies
Django>=1.8.4
BeautifulSoup
xlrd
pydot
cairocffi

