<table class="thermoEntryData">
    <tr>
        <td class="key"><span class="math">\Delta H_\mathrm{f}^\circ(298 \ \mathrm{K})</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.H298.0 }} \ \mathrm{ {{ thermoData.H298.1 }} }</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">\Delta S_\mathrm{f}^\circ(298 \ \mathrm{K})</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.S298.0 }} \ \mathrm{ {{ thermoData.S298.1 }} }</span></td>
    </tr>
    {% for T, Tunits, Cp, Cpunits in thermoData.Cpdata %}
    <tr>
        <td class="key"><span class="math">C_\mathrm{p}^\circ({{ T }} \ \mathrm{ {{ Tunits }} })</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ Cp }} \ \mathrm{ {{ Cpunits }} }</span></td>
    </tr>
    {% endfor %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if thermoData.Trange != None %}
        <td class="value">{{ thermoData.Trange.0 }} to {{ thermoData.Trange.1 }} {{ thermoData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
