{% comment %}
This template expects a variable thermoData as a list in the following form:

thermoData[0]   = The value 'Wilhoit'
thermoData[1]   = Heat capacity at zero temperature in J/mol*K
thermoData[2]   = Heat capacity at infinite temperature in J/mol*K
thermoData[3]   = Wilhoit a0 parameter
thermoData[4]   = Wilhoit a1 parameter
thermoData[5]   = Wilhoit a2 parameter
thermoData[6]   = Wilhoit a3 parameter
thermoData[7]   = Enthalpy at zero temperature in kJ/mol
thermoData[8]   = Entropy at zero temperature in J/mol*K
thermoData[9]   = Intermediate temperature B in K
thermoData[10]  = Minimum valid temperature in K
thermoData[11]  = Maximum valid temperature in K

All of these values should be strings in the desired format.
{% endcomment %}

<div class="math">
\begin{split}
C_\mathrm{p}(T) &= C_\mathrm{p}(0) + \left[ C_\mathrm{p}(\infty) -
    C_\mathrm{p}(0) \right] y^2 \left[ 1 + (y - 1) \sum_{i=0}^3 a_i y^i \right] \\
H^\circ(T) &= H_0 + \int_0^\infty C_\mathrm{p}(T) \ dT \\
S^\circ(T) &= S_0 + \int_0^\infty \frac{C_\mathrm{p}(T)}{T} \ dT\\
y &\equiv \frac{T}{T + B}
\end{split}
</div>

<table class="thermoEntryData">
    <tr>
        <td class="key"><span class="math">C_\mathrm{p}(0)</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.1 }} \ \mathrm{J/mol \cdot K}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">C_\mathrm{p}(\infty)</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.2 }} \ \mathrm{J/mol \cdot K}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_0</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.3 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_1</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.4 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_2</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.5 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_3</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.6 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">H_0</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.7 }} \ \mathrm{kJ/mol}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">S_0</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.8 }} \ \mathrm{J/mol \cdot K}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">B</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.9 }} \ \mathrm{K}</span></td>
    </tr>
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        <td class="value">{{ thermoData.10 }} to {{ thermoData.11 }} K</td>
    </tr>
</table>
