<div class="math">
\begin{split}
C_\mathrm{p}(T) &= C_\mathrm{p}(0) + \left[ C_\mathrm{p}(\infty) -
    C_\mathrm{p}(0) \right] y^2 \left[ 1 + (y - 1) \sum_{i=0}^3 a_i y^i \right] \\
H^\circ(T) &= H_0 + \int_0^\infty C_\mathrm{p}(T) \ dT \\
S^\circ(T) &= S_0 + \int_0^\infty \frac{C_\mathrm{p}(T)}{T} \ dT\\
y &\equiv \frac{T}{T + B}
\end{split}
</div>

<table class="thermoEntryData">
    <tr>
        <td class="key"><span class="math">C_\mathrm{p}(0)</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.cp0.0 }} \ \mathrm{ {{ thermoData.cp0.1 }} }</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">C_\mathrm{p}(\infty)</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.cpInf.0 }} \ \mathrm{ {{ thermoData.cpInf.1 }} }</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_0</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.a0.0 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_1</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.a1.0 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_2</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.a2.0 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">a_3</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.a3.0 }}</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">H_0</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.H0.0 }} \ \mathrm{ {{ thermoData.H0.1 }} }</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">S_0</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.S0.0 }} \ \mathrm{ {{ thermoData.S0.1 }} }</span></td>
    </tr>
    <tr>
        <td class="key"><span class="math">B</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ thermoData.B.0 }} \ \mathrm{ {{ thermoData.B.1 }} }</span></td>
    </tr>
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if thermoData.Trange != None %}
        <td class="value">{{ thermoData.Trange.0 }} to {{ thermoData.Trange.1 }} {{ thermoData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
