{% extends "base.html" %}
{% load gravatar %}
{% load databasefilters %}



{% block title %}RMG: Regression Tests{% endblock %}

{% block extrahead %}
<!-- Angular Material style sheet -->
  <link rel="stylesheet" type="text/css" href="/media/angular/angular-material.min.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="/media/angular/angular.min.js"></script>
  <script src="/media/angular/angular-animate.min.js"></script>
  <script src="/media/angular/angular-aria.min.js"></script>
  <script src="/media/angular/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="/media/angular/angular-material.min.js"></script>

  <script src="/media/regression_tests.js"></script>
{% endblock %}

{% block navbar_items %}
<a href="{% url 'regression_tests.views.index' %}">Regression Tests</a>
{% endblock %}

{% block page_title %}Regression Tests{% endblock %}

{% block page_body %}
<div ng-controller="BranchSelectorController as ctrl" layout="column" ng-cloak ng-app="branch_selector">
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()" name="searchForm">
      <p>Please select testing RMG-Py branch and RMG-database branch.</p>
      <div layout-gt-sm="row">
          <md-autocomplete flex required
              md-input-name="autocompleteField_py"
              md-input-minlength="2"
              md-input-maxlength="18"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.selected_branch_rmgpy"
              md-search-text="ctrl.search_text_rmgpy"
              md-items="branch_rmgpy in ctrl.querySearch(ctrl.search_text_rmgpy, ctrl.branches_rmgpy)"
              md-item-text="branch_rmgpy.display"
              md-require-match
              md-floating-label="RMG-Py Branch">
            <md-item-template>
              <span md-highlight-text="ctrl.search_text_rmgpy">{/{branch_rmgpy.display}/}</span>
            </md-item-template>
            <div ng-messages="regressionTestsForm.autocompleteField_py.$error" ng-if="regressionTestsForm.autocompleteField_py.$touched">
              <div ng-message="required">You <b>must</b> select a branch.</div>
              <div ng-message="md-require-match">Please select an existing branch.</div>
              <div ng-message="minlength">Your entry is not long enough.</div>
              <div ng-message="maxlength">Your entry is too long.</div>
            </div>
          </md-autocomplete>

          <md-autocomplete flex required
              md-input-name="autocompleteField_db"
              md-input-minlength="2"
              md-input-maxlength="18"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.selected_branch_rmgdb"
              md-search-text="ctrl.search_text_rmgdb"
              md-items="branch_rmgdb in ctrl.querySearch(ctrl.search_text_rmgdb, ctrl.branches_rmgdb)"
              md-item-text="branch_rmgdb.display"
              md-require-match
              md-floating-label="RMG-database Branch">
            <md-item-template>
              <span md-highlight-text="ctrl.search_text_rmgdb">{/{branch_rmgdb.display}/}</span>
            </md-item-template>
            <div ng-messages="regressionTestsForm.autocompleteField_db.$error" ng-if="regressionTestsForm.autocompleteField_db.$touched">
              <div ng-message="required">You <b>must</b> select a branch.</div>
              <div ng-message="md-require-match">Please select an existing branch.</div>
              <div ng-message="minlength">Your entry is not long enough.</div>
              <div ng-message="maxlength">Your entry is too long.</div>
            </div>
          </md-autocomplete>
      </div>
    </form>
  </md-content>
</div>

{% endblock %}
