<div class="math">
k(T) = {{ kineticsData.A.0 }}
{% if kineticsData.n.0 != '0.00' %}
{% if kineticsData.T0.0 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.T0.0 }} \ \mathrm{ {{ kineticsData.T0.1 }} } } \right){% endif %}^{ {{ kineticsData.n.0 }} }
{% endif %}
{% if kineticsData.Ea.0 != '0.00' %}\exp \left( - \frac{ {{ kineticsData.Ea.0 }} \ \mathrm{ {{ kineticsData.Ea.1 }} } }{ R T } \right){% endif %}
\ \mathrm{ {{ kineticsData.A.1 }} }
</div>

<table class="kineticsEntryData">
    {% if kineticsData.degeneracy != '1' %}<tr>
        <td class="key">Reaction-path degeneracy</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.degeneracy }}</td>
    </tr>{% endif %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if kineticsData.Trange != None %}
        <td class="value">{{ kineticsData.Trange.0 }} to {{ kineticsData.Trange.1 }} {{ kineticsData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
