<div class="math">
\begin{split}
\log k(T,P) = \sum_{t=1}^{N_T} \sum_{p=1}^{N_P} C_{tp} \phi_t(\\tilde{T}) \phi_p(\tilde{P}) [\mathrm{ {{ kineticsData.coeffs.1 }} }] \\
\tilde{T} &\equiv \frac{2T^{-1} - T_\mathrm{min}^{-1} - T_\mathrm{max}^{-1}}{T_\mathrm{max}^{-1} - T_\mathrm{min}^{-1}} \\
\tilde{P} &\equiv \frac{2 \\log P - \log P_\\mathrm{min} - \log P_\mathrm{max}}{\log P_\\mathrm{max} - \log P_\mathrm{min}}
\end{split}
</div>

C =
<table>
    {% for row in kineticsData.coeffs.0 %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br/>

<table class="kineticsEntryData">
    {% if kineticsData.degeneracy != '1' %}<tr>
        <td class="key">Reaction-path degeneracy</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.degeneracy }}</td>
    </tr>{% endif %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if kineticsData.Trange != None %}
        <td class="value">{{ kineticsData.Trange.0 }} to {{ kineticsData.Trange.1 }} {{ kineticsData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
    <tr>
        <td class="key">Pressure range</td>
        <td class="equals">=</td>
        {% if kineticsData.Prange != None %}
        <td class="value">{{ kineticsData.Prange.0 }} to {{ kineticsData.Prange.1 }} {{ kineticsData.Prange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
