{% comment %}
This template expects a variable kineticsData as a list in the following form:

kineticsData[0]     = The value 'KineticsData'
kineticsData[1]     = Minimum valid temperature in K
kineticsData[2]     = Maximum valid temperature in K
kineticsData[3]     = A list of (T, k) tuples, where T is temperature in K and
                      k is the rate coefficient in SI units at that temperature

All of these values should be strings in the desired format.
{% endcomment %}

<table class="thermoEntryData">
    </tr>
    {% for T, k in kineticsData.3 %}
    <tr>
        <td class="key"><span class="math">k({{ T }} \ \mathrm{K})</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ k }} \ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }</span></td>
    </tr>
    {% endfor %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.1 }} to {{ kineticsData.2 }} K</td>
    </tr>
</table>
