{% ifequal kineticsData.format 'KineticsData' %}
{% include "kinetics/kineticsData.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'Arrhenius' %}
{% include "kinetics/arrhenius.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'ArrheniusEP' %}
{% include "kinetics/arrheniusEP.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'MultiArrhenius' %}
{% include "kinetics/multiArrhenius.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'PDepArrhenius' %}
{% include "kinetics/pDepArrhenius.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'Chebyshev' %}
{% include "kinetics/chebyshev.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'ThirdBody' %}
{% include "kinetics/thirdBody.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'Lindemann' %}
{% include "kinetics/lindemann.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'Troe' %}
{% include "kinetics/troe.html" %}
{% endifequal %}

{% ifequal kineticsData.format 'Link' %}
<p>Link: <a href="{% url database.views.thermoEntry section=section subsection=subsection index=kineticsData.1 %}">{{ entry.data }}</a></p>
{% endifequal %}
