<table class="thermoEntryData">
    </tr>
    {% for T, Tunits, k, kunits in kineticsData.kdata %}
    <tr>
        <td class="key"><span class="math">k({{ T }} \ \mathrm{ {{ Tunits }} })</span></td>
        <td class="equals">=</td>
        <td class="value"><span class="math">{{ k }} \ \mathrm{ {{ kunits }} }</span></td>
    </tr>
    {% endfor %}
    {% if kineticsData.degeneracy != '1' %}<tr>
        <td class="key">Reaction-path degeneracy</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.degeneracy }}</td>
    </tr>{% endif %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if kineticsData.Trange != None %}
        <td class="value">{{ kineticsData.Trange.0 }} to {{ kineticsData.Trange.1 }} {{ kineticsData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
