{% comment %}
This template expects a variable kineticsData with the following form:

kineticsData[0]     = The value 'Lindemann'
kineticsData[1]     = A list of Arrhenius parameters for the high-pressure limit
kineticsData[2]     = A list of Arrhenius parameters for the low-pressure limit
kineticsData[3]     = Minimum valid temperature in K
kineticsData[4]     = Maximum valid temperature in K
kineticsData[5]     = Minimum valid pressure in bar
kineticsData[6]     = Maximum valid pressure in bar
kineticsData[7]     = List of collision efficiencies 
kineticsData[8]     = Reaction-path degeneracy

All of these values should be strings in the desired format.
{% endcomment %}

<div class="math">
\begin{split}
k(T,P) &= k_\infty(T) \left[ \frac{P_\mathrm{r}}{1 + P_\mathrm{r}} \right] \\
P_\mathrm{r} &= \frac{k_0(T)}{k_\infty(T)} [\mathrm{M}] \\
\end{split}
</div>

<div class="math">
\begin{split}
{% with kineticsData.1 as arrh %}
k_\infty(T) &= {{ arrh.0 }}
{% if arrh.3 == '1' %}T{% else %}\left( \frac{T}{ {{ arrh.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ arrh.1 }} }
\exp \left( - \frac{ {{ arrh.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} } \\
{% endwith %}
{% with kineticsData.2 as arrh %}
k_0(T) &= {{ arrh.0 }}
{% if arrh.3 == '1' %}T{% else %}\left( \frac{T}{ {{ arrh.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ arrh.1 }} }
\exp \left( - \frac{ {{ arrh.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^6/mol^2*s{% else %}m^3/mol*s{% endif %} } \\
{% endwith %}
\end{split}
</div>

{% if kineticsData.7|length > 0 %}
<table style="margin: auto;">
    <tr>
        <th colspan="2">Collision efficiencies</th>
    </tr>
{% for label, eff in kineticsData.7 %}
    <tr>
        <td>{{ label|safe }}</td>
        <td>{{ eff }}</td>
    </tr>
{% endfor %}
</table>
<br/>
{% endif %}

<table class="kineticsEntryData">
    {% if kineticsData.8 != '1' %}<tr>
        <td class="key">Reaction-path degeneracy</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.8 }}</td>
    </tr>{% endif %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.3 }} to {{ kineticsData.4 }} K</td>
    </tr>
    <tr>
        <td class="key">Pressure range</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.5 }} to {{ kineticsData.6 }} bar</td>
    </tr>
</table>
