{% comment %}
This template expects a variable kineticsData with the following form:

kineticsData[0]     = The value 'Lindemann'
kineticsData[1]     = A list of Arrhenius parameters for the high-pressure limit
kineticsData[2]     = A list of Arrhenius parameters for the low-pressure limit
kineticsData[3]     = Minimum valid temperature in K
kineticsData[4]     = Maximum valid temperature in K
kineticsData[5]     = Minimum valid pressure in bar
kineticsData[6]     = Maximum valid pressure in bar
kineticsData[7]     = List of collision efficiencies 
kineticsData[8]     = Reaction-path degeneracy

All of these values should be strings in the desired format.
{% endcomment %}

<div class="math">
\begin{split}
k(T,P) &= k_\infty(T) \left[ \frac{P_\mathrm{r}}{1 + P_\mathrm{r}} \right] \\
P_\mathrm{r} &= \frac{k_0(T)}{k_\infty(T)} [\mathrm{M}] \\
\end{split}
</div>

<div class="math">
\begin{split}

k_\infty(T) &= {{ kineticsData.arrheniusHigh.A.0 }}
{% if kineticsData.arrheniusHigh.n.0 != '0.00' %}
{% if kineticsData.arrheniusHigh.T0.0 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.arrheniusHigh.T0.0 }} \ \mathrm{ {{ kineticsData.arrheniusHigh.T0.1 }} } } \right){% endif %}^{ {{ kineticsData.arrheniusHigh.n.0 }} }
{% endif %}
{% if kineticsData.arrheniusHigh.Ea.0 != '0.00' %}\exp \left( - \frac{ {{ kineticsData.arrheniusHigh.Ea.0 }} \ \mathrm{ {{ kineticsData.arrheniusHigh.Ea.1 }} } }{ R T } \right){% endif %}
\ \mathrm{ {{ kineticsData.arrheniusHigh.A.1 }} } \\

k_0(T) &= {{ kineticsData.arrheniusLow.A.0 }}
{% if kineticsData.arrheniusLow.n.0 != '0.00' %}
{% if kineticsData.arrheniusLow.T0.0 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.arrheniusLow.T0.0 }} \ \mathrm{ {{ kineticsData.arrheniusLow.T0.1 }} } } \right){% endif %}^{ {{ kineticsData.arrheniusLow.n.0 }} }
{% endif %}
{% if kineticsData.arrheniusLow.Ea.0 != '0.00' %}\exp \left( - \frac{ {{ kineticsData.arrheniusLow.Ea.0 }} \ \mathrm{ {{ kineticsData.arrheniusLow.Ea.1 }} } }{ R T } \right){% endif %}
\ \mathrm{ {{ kineticsData.arrheniusLow.A.1 }} } \\

\end{split}
</div>

{% if kineticsData.efficiencies|length > 0 %}
<table style="margin: auto;">
    <tr>
        <th colspan="2">Collision efficiencies</th>
    </tr>
{% for label, eff in kineticsData.efficiencies %}
    <tr>
        <td>{{ label|safe }}</td>
        <td>{{ eff }}</td>
    </tr>
{% endfor %}
</table>
<br/>
{% endif %}

<table class="kineticsEntryData">
    {% if kineticsData.degeneracy != '1' %}<tr>
        <td class="key">Reaction-path degeneracy</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.degeneracy }}</td>
    </tr>{% endif %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if kineticsData.Trange != None %}
        <td class="value">{{ kineticsData.Trange.0 }} to {{ kineticsData.Trange.1 }} {{ kineticsData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
    <tr>
        <td class="key">Pressure range</td>
        <td class="equals">=</td>
        {% if kineticsData.Prange != None %}
        <td class="value">{{ kineticsData.Prange.0 }} to {{ kineticsData.Prange.1 }} {{ kineticsData.Prange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
