<div class="math">
k(T) = {% for arrh in kineticsData.arrheniusList %}k_{ {{ forloop.counter }} }(T){% if not forloop.last %} + {% endif %}{% endfor %}
</div>

<div class="math">
\begin{split}
{% for arrh in kineticsData.arrheniusList %}
k_{ {{ forloop.counter }} }(T) &= {{ arrh.A.0 }}
{% if arrh.n.0 != '0.00' %}
{% if arrh.T0.0 == '1' %}T{% else %}\left( \frac{T}{ {{ arrh.T0.0 }} \ \mathrm{ {{ arrh.T0.1 }} } } \right){% endif %}^{ {{ arrh.n.0 }} }
{% endif %}
{% if arrh.Ea.0 != '0.00' %}\exp \left( - \frac{ {{ arrh.Ea.0 }} \ \mathrm{ {{ arrh.Ea.1 }} } }{ R T } \right){% endif %}
\ \mathrm{ {{ arrh.A.1 }} } \\
{% endfor %}
\end{split}
</div>

<table class="kineticsEntryData">
    {% if kineticsData.degeneracy != '1' %}<tr>
        <td class="key">Reaction-path degeneracy</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.degeneracy }}</td>
    </tr>{% endif %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        {% if kineticsData.Trange != None %}
        <td class="value">{{ kineticsData.Trange.0 }} to {{ kineticsData.Trange.1 }} {{ kineticsData.Trange.2 }}</td>
        {% else %}
        <td class="value">Not given</td>
        {% endif %}
    </tr>
</table>
