{% comment %}
This template expects a variable kineticsData with the following form:

kineticsData[0]     = The value 'MultiArrhenius'
kineticsData[1]     = A list of lists of Arrhenius parameters
kineticsData[2]     = Minimum valid temperature in K
kineticsData[3]     = Maximum valid temperature in K

Each list of Arrhenius parameters has the following form:

arrhenius[0]     = Arrhenius preexponential factor in SI units (s^-1, m^3/mol*s, etc.)
arrhenius[1]     = Arrhenius temperature exponent (dimensionless)
arrhenius[2]     = Arrhenius activation energy in kJ/mol
arrhenius[3]     = Arrhenius reference temperature in K

All of these values should be strings in the desired format.
{% endcomment %}

<div class="math">
k(T) = {% for arrh in kineticsData.0 %}k_{ {{ forloop.counter }} }(T){% if not forloop.last %} + {% endif %}{% endfor %}
</div>

<div class="math">
\begin{split}
{% for arrh in kineticsData.1 %}
k_{ {{ forloop.counter }} }(T) = {{ arrh.0 }}
{% if arrh.3 == '1' %}T{% else %}\left( \frac{T}{ {{ arrh.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ arrh.1 }} }
\exp \left( - \frac{ {{ arrh.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }
{% endfor %}
\end{split}
</div>

<table class="kineticsEntryData">
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        <td class="value">{{ kineticsData.2 }} to {{ kineticsData.3 }} K</td>
    </tr>
</table>
