{% extends "base.html" %}
{% load gravatar %}

{% block title %}Edit profile - RMG{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}{% endblock %}

{% block page_title %}Edit Profile{% endblock %}

{% block page_body %}

<form action="profile" method="post">{% csrf_token %}
{{ form.as_p }}
<p  class="avatar"><label>Avatar:</label>{% gravatar user.email 80 %} Set your avatar via <a href="http://en.gravatar.com/">Gravatar</a></p>
<input type="submit" value="Submit" id="submit"/>
</form>

{% endblock %}
