{% extends "base.html" %}

{% block title %}RMG - Reaction Mechanism Generator{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}{% endblock %}

{% block page_title %}RMG - Reaction Mechanism Generator{% endblock %}

{% block page_body %}
<p>RMG is an automatic chemical reaction mechanism generator that constructs
kinetic models composed of elementary chemical reaction steps using a general
understanding of how molecules react.

<h2>Latest News</h2>

No news yet.
{% endblock %}
