{% extends "base.html" %}
{% load static %}

{% block title %}Reset Email Sent{% endblock %}

{% block extrahead %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block navbar_items %}{% endblock %}

{% block page_title %}Reset email has been sent{% endblock %}

{% block page_body %}

<p>
We have emailed you an instruction for resetting your password, you should receive it in minutes.<br>
Please make sure that you input the correct email, otherwise you won't receive any email. <br>
You may need to check your spam or trash folder, if you have trouble finding it in your inbox.
</p>

<a href="/">Back to homepage.</a>
{% endblock %}