{% extends "base.html" %}
{% load static %}



{% block title %}Forgot Password{% endblock %}

{% block extrahead %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block navbar_items %}{% endblock %}

{% block page_title %}Reset your password now{% endblock %}

{% block page_body %}

<form method="post" action="{% url 'password_reset' %}">
{% csrf_token %}

<table>
{% for field in form %}
    <tr>
        <td colspan="2">{{ field.errors }}</td>
    </tr>
    <tr>
        <td class="fieldKey">{{ field.label_tag }}</td>
        <td class="fieldValue">{{ field }}</td>
    </tr>
{% endfor %}
</table>

<p><input type="submit" value="continue" id="submit"/></p>
<input type="hidden" name="next" value="{{ next }}"/>

</form>
{% endblock %}
