
{% autoescape off %}
You're receiving this email because you requested a password reset for your user account at rmg.mit.edu.

To initiate the password reset process for your RMG account (username:{{ user.get_username }}), click the link below:

{{ protocol }}://{{ domain }}{%  url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't make this request, or no longer need to reset your password, you can ignore this email.

Sincerely,
RMG Team
{%  endautoescape %}