{% extends "base.html" %}
{% load static %}

{% block title %}Reset Email Sent{% endblock %}

{% block extrahead %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block navbar_items %}{% endblock %}

{% block page_title %}Reset email has been sent{% endblock %}

{% block page_body %}

<p>
We have emailed you instructions for resetting your password, you should receive them in minutes.<br>
Please make sure you input correct email, otherwise you may not receive the email. <br>
If you still do not receive the email, you may need to check your spam or junk folder as well.
</p>

<a href="/">Back to homepage.</a>
{% endblock %}
