{% extends "base.html" %}



{% block title %}Privacy Policy{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'main.views.privacy' %}">Privacy Policy</a></li>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_title %}Privacy Policy{% endblock %}

{% block page_body %}
<p>
Queries made to this website are automatically stored in the server logs, 
which are accessible to administrators of the webserver.

These logs are primarily for debugging purposes.
It may be interesting, and useful to the scientific community, to data-mine these
server logs, or to share the calculated species, reactions, and/or properties
in public. This is not currently implemented, but may occur in the future.
</p>
<p>
If you <a href="{% url 'main.views.signup' %}?next={{ request.path }}">register an account</a>,
then it is stored using the standard Django user authentication.
Your password is probably safe 
(read <a href="https://docs.djangoproject.com/en/dev/topics/auth/#how-django-stores-passwords">how Django stores passwords</a>)
but your other details may be made public, and are probably at least accessible
by the site administrators.
</p>
<p>
If these policies cause you any concern whatsoever then please contact the
administrators of the site, or the principal investigators listed below,
e.g. to discuss the possibility of private access to a server with no logging,
or just to express your opinions on  
<a href="http://www.github.com/ReactionMechanismGenerator/RMG-website/issues">our issues page</a>.
Or <a href="https://github.com/ReactionMechanismGenerator/RMG-website/">copy our source code</a> and run your own server!
</p>
<p>

The website is (primarily) developed by the research groups of 
<ul>
    <li><a href="http://cheme.scripts.mit.edu/green-group/">William H. Green</a> in the <a href="http://web.mit.edu/cheme/">
Department of Chemical Engineering</a> at <a href="http://web.mit.edu/">MIT</a>.</li>
    <li><a href="http://www.northeastern.edu/comocheng/">Richard H. West</a> in the <a href="http://www.northeastern.edu/che/">
Department of Chemical Engineering</a> at <a href="http://www.northeastern.edu/">Northeastern University</a>.</li>
</ul>

Please post comments or concerns about the website to 
<a href="http://www.github.com/ReactionMechanismGenerator/RMG-website/issues">our issues page</a>
or email the RMG Development Team at <a href="mailto:rmg_dev@mit.edu">rmg_dev@mit.edu</a>
</p>

{% endblock %}
