{% extends "base.html" %}
{% load static %}



{% block title %}Resources{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'resources' %}">Resources</a></li>
{% endblock %}

{% block sidebar_items %}{% endblock %}

{% block page_title %}Resources{% endblock %}

{% block page_body %}

    <p>
    In addition to the RMG <a href="http://reactionmechanismgenerator.github.io/RMG-Py/">documentation</a>, here are some
    additional resources for learning about RMG theory and usage.
    </p>

    <h2>Publications:</h2>

    <ol>
        <li>
            Johnson, M. S.; Dong, X.; Dana, A. G.; Chung, Y.; Farina, D., Jr.; Gillis, R. J.; Liu, M.; Yee, N. W.; Blondal, K.; Mazeau, E. J.; Grambow, C. A.; Payne, A. M.; Spiekermann, K. A.; Pang, H. W.; Goldsmith, C. F.; West, R. H.; Green, W. H. RMG Database for Chemical Property Prediction. J. Chem. Inf. Model. 2022, 62, 4906-4915.
            <a href="https://pubs.acs.org/doi/10.1021/acs.jcim.2c00965">Link</a>
        </li>
        <li>
            Liu, M.; Dana, A. G.; Johnson, M. S.; Goldman, M. J.; Jocher, A.; Payne, A. M.; Grambow, C. A.; Han, K.; Yee, N. W.; Mazeau, E. J.; Blondal, K.; West, R. H.; Goldsmith,  C. F.; Green, W. H. Reaction Mechanism Generator v3.0: Advances in Automatic Mechanism Generation. J. Chem. Inf. Model. 2021, 61, 2686-2696.
            <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jcim.0c01480">Link</a>
        </li>
        <li>
            Gao, C. W.; Allen, J. W.; Green, W. H.; West, R. H. Reaction Mechanism Generator: Automatic Construction of
            Chemical Kinetic Mechanisms. Comput. Phys. Commun. 2016, 203, 212–225.
            <a href="http://www.sciencedirect.com/science/article/pii/S0010465516300285">Link</a>
        </li>
        <li>
            Magoon, G. R.; Green, W. H. Design and Implementation of a next-Generation Software Interface for on-the-Fly
            Quantum and Force Field Calculations in Automated Reaction Mechanism Generation. Comput. Chem. Eng. 2013, 52, 35–45.
            <a href="http://www.sciencedirect.com/science/article/pii/S0098135412003754">Link</a>
        </li>
        <li>
            Allen, J. W.; Goldsmith, C. F.; Green, W. H. Automatic Estimation of Pressure-Dependent Rate Coefficients.
            Phys. Chem. Chem. Phys. 2012, 14 (3), 1131–1155.
            <a href="http://xlink.rsc.org/?DOI=C1CP22765C">Link</a>
        </li>
    </ol>

    <h2>RMG Workshop Recordings:</h2>

    <p>
    A series of talks given by RMG developers intended to teach users how to use RMG.
    </p>

    <ol>
        <li><a href="https://tinyurl.com/RMG2019">2019 January</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLZUqt5RldKbQWR1iJalegC-VjcxItpaXF">2021 January</a> and 
            <a href="https://www.dropbox.com/sh/lwpqe65b2gq9d9p/AACe3vZlqjJKJOA4TDp07_6Sa?dl=0">relevant material</a></li>
    </ol>

    {% if presentations %}
    <h2>RMG Study Group Presentations:</h2>

    <p>
    A series of presentations intended to teach users and developers the theory and usage of RMG.
    </p>

    <ol>
        {% for title, date, filename in presentations %}
            <li><a href="{% get_static_prefix %}presentations/{{ filename }}">{{ title }}</a> ({{ date }})</li>
        {% endfor %}
    </ol>
    {% endif %}

{% endblock %}
