{% extends "base.html" %}
{% load static %}
{% load gravatar %}



{% block title %}Create a User Account - RMG{% endblock %}

{% block extrahead %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block navbar_items %}{% endblock %}

{% block page_title %}Create a User Account{% endblock %}

{% block page_body %}

<form action="signup" method="post">{% csrf_token %}
<table>
<tr>
    <td></td><td>{{ userForm.non_field_errors }}</td>
</tr>
{% for field in userForm %}
    <tr>
        <td></td><td>{{ field.errors }}</td>
    </tr>
    <tr>
        <td class="fieldKey">{{ field.label_tag }}</td>
        <td class="fieldValue">{{ field }}</td>
    </tr>
{% endfor %}
<tr>
    <td></td><td>{{ profileForm.non_field_errors }}</td>
</tr>
{% for field in profileForm %}
    <tr>
        <td></td><td>{{ field.errors }}</td>
    </tr>
    <tr>
        <td class="fieldKey">{{ field.label_tag }}</td>
        <td class="fieldValue">{{ field }}</td>
    </tr>
{% endfor %}
<tr>
    <td></td><td>{{ passwordForm.non_field_errors }}</td>
</tr>
{% for field in passwordForm %}
    <tr>
        <td></td><td>{{ field.errors }}</td>
    </tr>
    <tr>
        <td class="fieldKey">{{ field.label_tag }}</td>
        <td class="fieldValue">{{ field }}</td>
    </tr>
{% endfor %}
</table>
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

{% endblock %}
