<table class="reference">

{% if statesParameters.translation %}
<tr>
    <td colspan="2" class="section">External translation</td>
</tr>
<tr>
    <td class="label">Mass (g/mol):</td>
    <td>{{ statesParameters.translation.mass }}</td>
</tr>
{% endif %}
    
{% if statesParameters.rotation %}
<tr>
    <td colspan="2" class="section">External rotation</td>
</tr>
<tr>
    <td class="label">Linearity:</td>
    <td>{{ statesParameters.rotation.linearity }}</td>
</tr>
<tr>
    <td class="label">Moments of inertia (amu&times;&Aring;^2):</td>
    <td>{% for inertia in statesParameters.rotation.inertia %}{{ inertia }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
<tr>
    <td class="label">Symmetry number:</td>
    <td>{{ statesParameters.rotation.symmetry }}</td>
</tr>
{% endif %}

{% if statesParameters.vibration %}
<tr>
    <td colspan="2" class="section">Vibrations</td>
</tr>
<tr>
    <td class="label" class="section">Frequencies (cm^-1):</td>
    <td>{% for freq in statesParameters.vibration.frequencies %}{{ freq }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
{% endif %}

{% if statesParameters.torsion %}
{% for hinderedRotor in statesParameters.torsion %}
<tr>
    <td colspan="2" class="section">Hindered rotor #{{ forloop.counter }}:</td>
</tr>
{% if hinderedRotor.fourierA %}
<tr>
    <td colspan="2"><span class="math">V(\phi) = A + \sum_k \left( a_k \cos k \phi + b_k \sin k \phi \right)</span></td>
</tr>
<tr>
    <td class="label"><span class="math">a_k</span></td>
    <td>{% for a_k in hinderedRotor.fourierA %}{{ a_k }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
<tr>
    <td class="label"><span class="math">b_k</span></td>
    <td>{% for b_k in hinderedRotor.fourierB %}{{ b_k }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
</tr>
{% endif %}
{% if hinderedRotor.barrier %}
<tr>
    <td colspan="2"><span class="math">V(\phi) = \frac{1}{2} V_0 \left[1 - \cos \left( \sigma \phi \right) \right]</span></td>
</tr>
<tr>
    <td class="label">Barrier height (kJ/mol):</td>
    <td>{{ hinderedRotor.barrier }}</td>
</tr>
{% endif %}
<tr>
    <td class="label">Moment of inertia (amu&times;&Aring;^2):</td>
    <td>{{ hinderedRotor.inertia }}</td>
</tr>
<tr>
    <td class="label">Symmetry number:</td>
    <td>{{ hinderedRotor.symmetry }}</td>
</tr>
{% endfor %}
{% endif %}

<tr>
    <td colspan="2" class="section">Electronic</td>
</tr>
<tr>
    <td class="label">Spin multiplicity:</td>
    <td>{{ statesParameters.spinMultiplicity }}</td>
</tr>

</table>