{% extends "base.html" %}
{% load gravatar %}
{% load databasefilters %}



{% block title %}RMG: Group Draw{% endblock %}

{% block extrahead %}

{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'rmg.views.index' %}">RMG Tools</a></li>
<li><a href="{% url 'database.views.groupDraw' %}">Draw Functional Group</a></li>
{% endblock %}

{% block page_title %}Draw Functional Group{% endblock %}

{% block page_body %}

<p>
Use this form to draw a group from its adjacency list. 
</p>
<form method="post" id="species_form">
<table>
   
{{ form.as_table }}
<tr>
   <th>{% csrf_token %}</th>
   <td>
      <input type="submit" value="Draw Group" name="draw" />
      <input type="submit" value="Reset Form" name="reset" />
   </td>
</tr>
</table>
</form>

{% if structure_markup %}
<table>
<tr class="result">
<th>Group Structure:</th>
<td style="padding: 40px;">{{ structure_markup|safe }}</td>
</tr>

</tr>
</table>
{% endif %}

{% endblock %}
