{% extends "base.html" %}

{% load gravatar %}



{% block title %}Kinetics Search Results{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.kinetics' %}">Kinetics</a></li>
<li><a href="{% url 'database.views.kineticsSearch' %}">Search</a></li>
<li><a href="">Results</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Kinetics Search Results{% endblock %}

{% block page_body %}

<table class="kineticsData">
{% for reactants, arrow, products, count, reactionUrl in reactionDataList %}
    <tr>
        <td><a href="{{ reactionUrl }}">{{ forloop.counter }}.</a></td>
        <td class="reactants">{{ reactants|safe }}</td>
        <td class="reactionArrow">{{ arrow|safe }}</td>
        <td class="products">{{ products|safe }}</td>
        <td><a href="{{ reactionUrl }}">{{ count }} result{% if count > 1 %}s{% endif %}</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
