{% extends "base.html" %}
{% load markup %}
{% load gravatar %}
{% load render_kinetics %}

{% block title %}Kinetics Data{% endblock %}
{% block extrahead %}
<script src="/media/Highcharts/js/highcharts.js" type="text/javascript"></script>
<script src="/media/highcharts.theme.js" type="text/javascript"></script>

<script type="text/javascript">
jQuery(document).ready(function() {

    kineticsModelList = [];

    {% for reactants, arrow, products, entry, kinetics, source, href, forward in kineticsDataList %}
    kseries = [];
    {{ kinetics|get_rate_coefficients:user }}
    {% include "kineticsModel.js" %}
    kineticsModelList.push(kseries[kseries.length-1]);
    {% endfor %}

    jsMath.Synchronize(function() {
        kchart = plotKinetics('plotk', kineticsModelList);
    });

    document.getElementById("train").disabled = false;

    /* For the kinetics search form */

    /* sort CAS numbers numerically by what's up to the first hyphen */
    /* The NIST kinetics site seems to usually choose the lowest assigned CAS number */
    function sortCAS(a,b){
        return a.split('-')[0] - b.split('-')[0];
    }

    function resolve(fieldName){
        var field = $('input[name="'+fieldName+'"]')
        var value = field.val();
        if (value != "") {
            /* try resolving by CAS number */
            //var url = '/cactus/'+escape(value)+'/cas';
            var url = '/nistcas/'+escape(value);
            var jqxhr =  $.get(url,function(resolved_name) {
                field.val(resolved_name.split('\n').sort(sortCAS)[0]);
            }).error( function() { /* no CAS number assigned (or some other problem) so use chemical formula */
                var formula = value.split('/')[1]; /* formula is first layer of InChI */
                field.val(formula);
            })
        }
   }
   resolve("text1");
   resolve("text2");
   resolve("text3");
   resolve("text4");
   /* End of code for the kinetics search form */

});

{% include "kineticsPlot.js" %}

function getVisible(chart) {
    var visible = [chart.series.length];

    for (var i = 0; i < chart.series.length; i++)
        visible[i] = chart.series[i].visible;

    return visible;
};

function trainReaction() {

    visible = getVisible(kchart);

    AAverage = 1.0;
    nAverage = 0.0;
    EaAverage = 0.0;
    count = 0;

    refList = '';

    {% for reactants, arrow, products, entry, kinetics, source, href, forward in kineticsDataList %}
        var i = {{ forloop.counter0 }};
        if (visible[i]) {
            {{ kinetics|get_rate_coefficients }}
            AAverage *= A;
            nAverage += n;
            EaAverage += Ea;
            count += 1;

            {% if entry.reference %}
            refList += count + '. {{ entry.reference.authors.0 }}, {{ entry.reference.year }}{% if entry.reference.url %} - {{ entry.reference.url }}{% endif %}\n';
            {% else %}
            refList += count + '. {{ source }}\n';
            {% endif %}
        }
    {% endfor %}

    AAverage = Math.pow(AAverage, 1.0 / count);
    nAverage /= count;
    EaAverage /= count;

    output = document.getElementById("id_entry").value.split('kinetics')[0] +
            'kinetics = Arrhenius(\n        A = (' + AAverage.toExponential(5) + ',\"' + kunits + '\"),' +
            '\n        n = (' + nAverage.toFixed(5) + ',\"\"),' +
            '\n        Ea = (' + EaAverage.toExponential(5) + ',\"' + Eunits + '\"),' +
            '\n        T0 = (1,\"K\"),' +
            '\n    ),' +
            '\n    reference = None,' +
            '\n    referenceType = \"\",' +
            '\n    shortDesc = u\"\"\"User-generated average\"\"\",' +
            '\n    longDesc = ' +
            '\nu\"\"\"' +
            '\nAverage of ' + count + ' results:' +
            '\n' + refList + '\"\"\",';

    document.getElementById("id_entry").value = output;
};
</script>

<style>
   .NIST_query {
    background: #eee;
    background-image: url('http://webbook.nist.gov/chemistry/img/nist-link-left.gif');
    background-repeat: no-repeat;
    background-position: 2px center;
    border: 1px solid #993333;
    padding: 6px;
    padding-left: 138px;
    margin: 5px;
    min-height: 30px;
    text-align: right;
   }
   .NIST_query input[type=text] {
      width: 18%;
      font-size: 75%;
      background: transparent;
   }

</style>
{% endblock %}

{% block navbar_items %}
<a href="{% url database.views.index %}">Database</a>
&raquo; <a href="{% url database.views.kinetics %}">Kinetics</a>
&raquo; <a href="{% url database.views.kineticsSearch %}">Search</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Kinetics Data{% endblock %}

{% block page_body %}

{% if reactionUrl != '' %}
<p><a href="{{ reverseReactionURL }}">Search reverse reaction kinetics.</a></p>
{% endif %}

<div class="NIST_query">
         <form name="UserForm" action="http://kinetics.nist.gov/kinetics/Search.jsp" method="POST" target="_blank">
            <input type=hidden name="doc" VALUE="SearchForm">
            <input type=hidden name="type" VALUE="java">
            <input type=hidden name="Units" VALUE="">
            <input type=hidden name="database" VALUE="kinetics">
            <input type=hidden name="numberOfFields" VALUE="5">
            <input type=hidden name="boolean1" value="">
            <input type=hidden name="lp1" value=" ">
            <input type=hidden name="field1" value="reactants">
            <input type=hidden name="relate1" value="=">
            <input type=text   name="text1" value="{{ reactantList.0.toInChI }}">
            <input type=hidden name="rp1" value=" ">
            <input type=hidden name="boolean2" value="and">
            <input type=hidden name="lp2" value=" ">
            <input type=hidden name="field2" value="reactants">
            <input type=hidden name="relate2" value="=">+
            <input type=text   name="text2" value="{{ reactantList.1.toInChI }}">
            <input type=hidden name="rp2" value=" ">
            <input type=hidden name="boolean3" value="and">
            <input type=hidden name="lp3" value=" ">
            <input type=hidden name="field3" value="products">
            <input type=hidden name="relate3" value="=">=
            <input type=text   name="text3" value="{{ productList.0.toInChI }}">
            <input type=hidden name="rp3" value=" ">
            <input type=hidden name="boolean4" value="and">
            <input type=hidden name="lp4" value=" ">
            <input type=hidden name="field4" value="products">
            <input type=hidden name="relate4" value="=">+
            <input type=text   name="text4" value="{{ productList.1.toInChI }}">
            <input type=hidden name="rp4" value=" ">
            <input type=hidden name="boolean5" value="and">
            <input type=hidden name="lp5" value=" ">
            <input type=hidden name="field5" value="kinetics.squib">
            <input type=hidden name="relate5" VALUE="~*">
            <input type=hidden name="text5" value="">
            <input type=hidden name="rp1" value=" "> <br />
            <input type=submit value="Search NIST kinetics" id="submit">
            <input type=hidden name="category" value="0">
            <a href="http://kinetics.nist.gov/kinetics/index.jsp?v=cm&m=Mole&e=kJ&t=K&p=Pa&rt=1.0" title="Set units at NIST" target="_blank">set units</a>
         </form>
</div>

{% if kineticsDataList|length > 0 %}

{% for reactants, arrow, products, entry, kinetics, source, href, forward in kineticsDataList %}
{% if href != '' %}
<h3><a href="{{ href }}">Result #{{ forloop.counter }} &ndash; {{ source }}</a>{% if not forward %} *{% endif %}</h3>
{% else %}
<h3>Result #{{ forloop.counter }} &ndash; {{ source }}{% if not forward %} *{% endif %}</h3>
{% endif %}

<p><span class="reactants">{{ reactants|safe }}</span>{{ arrow|safe }}<span class="products">{{ products|safe }}</span></p>

{{ kinetics|render_kinetics_math:user }}

{% if source == 'RMG-Java' %}
<P>Comments: {{ entry.longDesc }}
{% endif %}

{% if not forward %}<p>* Kinetics fitted from reverse direction</p>{% else %}<br/>{% endif %}
{% endfor %}

<div id="plotk" style="width: {{ plotWidth }}px; height: {{ plotHeight }}px; margin: auto;"></div>

{% if new_entry_form %}
<form method="post" id="entry_form" onSubmit="trainReaction()" action="{% url database.views.kineticsEntryNewTraining family=subsection  %}">
<div style="display: none">{{ new_entry_form.entry }}</div>
{% csrf_token %}
<div align="center">
<input id="train" type="submit" value="Train Reaction" />
</div>
</form>
{% endif %}

{% else %}
<p>No results found.</p>
{% endif %}

<P><br>

<div align="center">
<table><tr><th colspan="2"><h3>Rate Table</h3></th></tr>
    <form action="" method="POST">{% csrf_token %}
    <tr><td>{{ form.as_p }}</td><td><input type="submit" value="Submit" name="submit"></td></tr>
    </form>


{% if temperature %}
{% for reactants, arrow, products, entry, kinetics, source, href, forward in kineticsDataList %}
<tr><td>{{ forloop.counter }}. {{ source }}</td><td>{{ kinetics|get_temp_specific_rate:temperature }}</td></tr>
{% endfor %}
{% endif %}

</table>
</div>

{% endblock %}
