{% extends "base.html" %}
{% load markup %}
{% load gravatar %}

{% block title %}
{% if section != '' %}
RMG Kinetics {{ section|title }}
{% else %}
RMG Kinetics Database
{% endif %}
{% endblock %}

{% block extrahead %}
<style>
table.kineticsEntryData {
    text-align: center;
    margin-bottom: 1em;
}

table.kineticsEntryData td.key {
    font-weight: bold;
    text-align: right;
}

table.kineticsEntryData td.equals {
    text-align: center;
}

table.kineticsEntryData td.value {
    text-align: left;
}

table.kineticsEntryData td.reference p {
    margin: 0px;
}
</style>
{% endblock %}

{% block navbar_items %}
<a href="{% url database.views.index %}">Database</a>
&raquo; <a href="{% url database.views.kinetics %}">Kinetics</a>
&raquo; <a href="{% url database.views.kinetics section=section %}">{{ section|title }}</a>
&raquo; <a href="{% url database.views.kinetics section=section subsection=subsection %}">{{ databaseName }}</a>
&raquo; <a href="{% url database.views.kineticsEntry section=section subsection=subsection index=entry.index %}">{{ entry.index }}. {{ entry.label }}</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{{ entry.index }}. {{ entry.label }}{% endblock %}

{% block page_body %}

<h2>Reaction</h2>
<table>
    <tr>
        <td class="reactants">{{ reactants|safe }}</td>
        <td class="reactionArrow">{{ arrow|safe }}</td>
        <td class="reactants">{{ products|safe }}</td>
    </tr>
</table>
<br/>

<h2>Kinetic Data</h2>

{% ifequal dataFormat 'Arrhenius' %}
<div class="math">
k(T) = {{ kineticsData.0 }}
{% if kineticsData.3 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ kineticsData.1 }} }
\exp \left( - \frac{ {{ kineticsData.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }
</div>
{% endifequal %}

{% ifequal dataFormat 'ArrheniusEP' %}
<div class="math">
k(T) = {{ kineticsData.0 }} T^{ {{ kineticsData.1 }} } \exp \left( - \frac{ {{ kineticsData.3 }} \ \mathrm{kJ/mol} + {{ kineticsData.2 }} \Delta H_\mathrm{rxn}^\circ }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }
</div>
{% endifequal %}

{% ifequal dataFormat 'MultiArrhenius' %}
<div class="math">
k(T) = {% for arrh in kineticsData %}k_{ {{ forloop.counter }} }(T){% if not forloop.last %} + {% endif %}{% endfor %}
</div>
<div class="math">
\begin{split}
{% for arrh in kineticsData %}
k_{ {{ forloop.counter }} }(T) = {{ arrh.0 }}
{% if arrh.3 == '1' %}T{% else %}\left( \frac{T}{ {{ arrh.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ arrh.1 }} }
\exp \left( - \frac{ {{ arrh.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }
{% endfor %}
\end{split}
</div>
{% endifequal %}

{% ifequal dataFormat 'PDepArrhenius' %}
<div class="math">
\begin{split}
{% for arrh in kineticsData %}
k(T, {{ arrh.4 }} \ \mathrm{bar}) = {{ arrh.0 }}
{% if arrh.3 == '1' %}T{% else %}\left( \frac{T}{ {{ arrh.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ arrh.1 }} }
\exp \left( - \frac{ {{ arrh.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }
{% endfor %}
\end{split}
</div>
{% endifequal %}

{% ifequal dataFormat 'Chebyshev' %}
<div class="math">
\begin{split}
\log k(T,P) = \sum_{t=1}^{N_T} \sum_{p=1}^{N_P} C_{tp} \phi_t(\\tilde{T}) \phi_p(\tilde{P}) \\
\tilde{T} &\equiv \frac{2T^{-1} - T_\mathrm{min}^{-1} - T_\mathrm{max}^{-1}}{T_\mathrm{max}^{-1} - T_\mathrm{min}^{-1}} \\
\tilde{P} &\equiv \frac{2 \\log P - \log P_\\mathrm{min} - \log P_\mathrm{max}}{\log P_\\mathrm{max} - \log P_\mathrm{min}}
\end{split}
</div>
C =
<table>
    {% for row in kineticsData %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
    </tr>
    {% endfor %}
</table>
<br/>
{% endifequal %}

{% ifequal dataFormat 'ThirdBody' %}
<div class="math">
k(T,P) = k_\infty(T) [\mathrm{M}]
</div>
<div class="math">
k_\infty(T) = {{ kineticsData.0 }}
{% if kineticsData.3 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ kineticsData.1 }} }
\exp \left( - \frac{ {{ kineticsData.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} }
</div>
{% endifequal %}

{% ifequal dataFormat 'Lindemann' %}
<div class="math">
\begin{split}
k(T,P) &= k_\infty(T) \left[ \frac{P_\mathrm{r}}{1 + P_\mathrm{r}} \right] \\
P_\mathrm{r} &= \frac{k_0(T)}{k_\infty(T)} [\mathrm{M}] \\
\end{split}
</div>
<div class="math">
\begin{split}
k_\infty(T) &= {{ kineticsData.0 }}
{% if kineticsData.3 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ kineticsData.1 }} }
\exp \left( - \frac{ {{ kineticsData.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} } \\
k_0(T) &= {{ kineticsData.4 }}
{% if kineticsData.7 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.7 }} \ \mathrm{K} } \right){% endif %}^{ {{ kineticsData.5 }} }
\exp \left( - \frac{ {{ kineticsData.6 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^6/mol^2*s{% else %}m^3/mol*s{% endif %} }
\end{split}
</div>
{% endifequal %}

{% ifequal dataFormat 'Troe' %}
<div class="math">
\begin{split}
k(T,P) &= k_\infty(T) \left[ \frac{P_\mathrm{r}}{1 + P_\mathrm{r}} \right] F \\
P_\mathrm{r} &= \frac{k_0(T)}{k_\infty(T)} [\mathrm{M}] \\
\log F &= \left\{1 + \left[ \frac{\log P_\mathrm{r} + c}{n - d (\log P_\mathrm{r} + c)} \right]^2 \right\}^{-1} \log F_\mathrm{cent} \\
c &= -0.4 - 0.67 \log F_\mathrm{cent} \\
n &= 0.75 - 1.27 \log F_\mathrm{cent} \\
d &= 0.14 \\
F_\mathrm{cent} &= (1 - \alpha) \exp \left( -T/T_3 \right) + \alpha \exp \left( -T/T_1 \right){% if kineticsData.11 != 1e100 %} + \exp \left( -T_2/T \right){% endif %}
\end{split}
</div>
<div class="math">
\begin{split}
k_\infty(T) &= {{ kineticsData.0 }}
{% if kineticsData.3 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.3 }} \ \mathrm{K} } \right){% endif %}^{ {{ kineticsData.1 }} }
\exp \left( - \frac{ {{ kineticsData.2 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^3/mol*s{% else %}s^{-1}{% endif %} } \\
k_0(T) &= {{ kineticsData.4 }}
{% if kineticsData.7 == '1' %}T{% else %}\left( \frac{T}{ {{ kineticsData.7 }} \ \mathrm{K} } \right){% endif %}^{ {{ kineticsData.5 }} }
\exp \left( - \frac{ {{ kineticsData.6 }} \ \mathrm{kJ/mol} }{ R T } \right)
\ \mathrm{ {% if entry.item.reactants|length == 2 %}m^6/mol^2*s{% else %}m^3/mol*s{% endif %} } \\
\alpha &= {{ kineticsData.8 }} \\
T_3 &= {{ kineticsData.9 }} \ \mathrm{K} \\
T_1 &= {{ kineticsData.10 }} \ \mathrm{K} \\
{% if kineticsData.11 != 1e100 %}T_2 &= {{ kineticsData.11 }} \ \mathrm{K} {% endif %}
\end{split}
</div>
{% endifequal %}

{% ifequal dataFormat 'Link' %}
<p>Link: <a href="{% url database.views.thermoEntry section=section subsection=subsection index=thermoData.0 %}">{{ entry.data }}</a></p>
{% endifequal %}

{% if efficiencies|length > 0 %}
<table style="margin: auto;">
    <tr>
        <th colspan="2">Collision efficiencies</th>
    </tr>
{% for label, eff in efficiencies %}
    <tr>
        <td>{{ label|safe }}</td>
        <td>{{ eff }}</td>
    </tr>
{% endfor %}
</table>
<br/>
{% endif %}

<table class="kineticsEntryData">
    {% if Trange|length == 2 %}
    <tr>
        <td class="key">Temperature range</td>
        <td class="equals">=</td>
        <td class="value">{{ Trange.0 }} to {{ Trange.1 }} K</td>
    </tr>
    {% endif %}
    {% if Prange|length == 2 %}
    <tr>
        <td class="key">Pressure range</td>
        <td class="equals">=</td>
        <td class="value">{{ Prange.0 }} to {{ Prange.1 }} bar</td>
    </tr>
    {% endif %}
</table>

<h2>Reference</h2>
{% include "reference.html" %}

<h2>History</h2>
{% for date, username, action, description in entry.history %}
<table class="history">
<tr>
    <td rowspan="2" class="historyIcon">{% gravatar username 40 %}</td>
    <td class="historyText">{{ description|restructuredtext }}</td>
</tr>
<tr>
    <td class="historyMeta">{{ action|title }} by {{ username }} on {{ date }} <a>View details</a></td>
</tr>
</table>
{% endfor %}
<br/>

{% endblock %}
