{% extends "base.html" %}

{% block title %}
{% if section != '' %}
RMG Kinetics {{ section|title }}
{% else %}
RMG Kinetics Database
{% endif %}
{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url database.views.index %}">Database</a>
&raquo; <a href="{% url database.views.kinetics %}">Kinetics</a>
{% if section != '' %}&raquo; <a href="{% url database.views.kinetics section=section %}">{{ section|title }}</a>{% endif %}
{% if subsection != '' %}&raquo; <a href="{% url database.views.kinetics section=section subsection=subsection %}">{{ subsection|title }}</a>{% endif %}
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}
{% if section != '' %}
RMG Kinetics {{ section|title }}
{% else %}
RMG Kinetics Database
{% endif %}
{% endblock %}

{% block page_body %}


{% if section == '' %}
<h2>1. <a href="{% url database.views.kineticsSearch %}">Search Reaction Kinetics</a></h2>

<h2>2. <a href="{% url database.views.kinetics section='libraries' %}">Kinetics Libraries</a></h2>
{% endif %}

{% if section == 'libraries' or section == '' %}
<ul>
{% for subsection, library in kineticsLibraries %}
<li><a href="{% url database.views.kinetics section='libraries' subsection=subsection %}">{{ library.name }}</a> ({{ library.entries|length }} entries)</li>
{% endfor %}
</ul>
{% endif %}

{% if section == '' %}
<h2>3. <a href="{% url database.views.kinetics section='families' %}">Kinetics Families</a></h2>
{% endif %}

{% if section == 'families' or section == '' %}
<ul>
{% for subsection, family in kineticsFamilies %}
    <li>
        <a href="{% url database.views.kinetics section='families' subsection=subsection %}">{{ family.name }}</a>
        <ul>
            <li><a href="{% url database.views.kinetics section='families' subsection=family.groups.label %}">{{ family.groups.name }}</a> ({{ family.groups.entries|length }} entries)</li>
            <li><a href="{% url database.views.kinetics section='families' subsection=family.rules.label %}">{{ family.rules.name }}</a> ({{ family.rules.entries|length }} entries)</li>
            <li><a href="{% url database.views.kinetics section='families' subsection=family.training.label %}">{{ family.training.name }}</a> ({{ family.training.entries|length }} entries)</li>
            <li><a href="{% url database.views.kinetics section='families' subsection=family.test.label %}">{{ family.test.name }}</a> ({{ family.test.entries|length }} entries)</li>
            {% if family.PrIMe %}<li><a href="{% url database.views.kinetics section='families' subsection=family.PrIMe.label %}">{{ family.PrIMe.name }}</a> ({{ family.PrIMe.entries|length }} entries)</li>{% endif %}
            
        </ul>
    </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
