{% extends "base.html" %}

{% block title %}
{% if section != '' %}
RMG Kinetics {{ section|title }}
{% else %}
RMG Kinetics Database
{% endif %}
{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url database.views.index %}">Database</a>
&raquo; <a href="{% url database.views.kinetics %}">Kinetics</a>
&raquo; <a href="{% url database.views.kinetics section=section %}">{{ section|title }}</a>
&raquo; <a href="{% url database.views.kinetics section=section subsection=subsection %}">{{ databaseName }}</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{{ databaseName }}{% endblock %}

{% block page_body %}

<table class="kineticsData">
<tr>
    <th>Label</th>
    {% if section == 'groups' %}<th>Group</th>{% else %}<th colspan="3">Reaction</th>{% endif %}
    <th>Data&nbsp;Format</th>
</tr>
{% if section == 'groups' %}
    {% for entry in entries %}
    <tr>
        <td><a href="{% url database.views.kineticsEntry section=section subsection=subsection index=entry.index %}">{{ entry.index }}. {{ entry.label }}</a></td>
        <td>{{ entry.structure|safe }}</td>
        <td>{{ entry.dataFormat }}</td>
    </tr>
    {% endfor %}
{% else %}
    {% for entry in entries %}
    <tr>
        <td><a href="{% url database.views.kineticsEntry section=section subsection=subsection index=entry.index %}">{{ entry.index }}. {{ entry.label }}</a></td>
        <td class="reactants">{{ entry.reactants|safe }}</td>
        <td class="reactionArrow">{{ entry.arrow|safe }}</td>
        <td class="products">{{ entry.products|safe }}</td>
        <td>{{ entry.dataFormat }}</td>
    </tr>
    {% endfor %}
{% endif %}
</table>

{% endblock %}
