{% extends "base.html" %}
{% load markup %}
{% load gravatar %}

{% block title %}Search Kinetics Database{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url database.views.index %}">Database</a>
&raquo; <a href="{% url database.views.kinetics %}">Kinetics</a>
&raquo; <a href="{% url database.views.kineticsSearch %}">Search</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Search Kinetics Database{% endblock %}

{% block page_body %}
<form action="" method="POST">{% csrf_token %}
<p>You can search either by reactants only or by both reactants and products.</p>
{{ form.as_p }}
<p><input type="submit" value="Search" name="submit"> |  <input type="submit" value="Search RMG Java" name="java_search"></p>
</form>
{% endblock %}
