<script type="text/javascript">

function clearText(field) {
  field.value = '';
}

</script>

{% extends "base.html" %}
{% load gravatar %}

{% block title %}RMG: Molecule Search{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<a href="{% url database.views.moleculeSearch %}">Molecule Search</a>
{% endblock %}

{% block page_title %}Molecule Search{% endblock %}

{% block page_body %}
Molecule Structure:
<P>

{{ structure|safe }}

<P>

Adjacency List:
<P>

<form method="post">{% csrf_token %}
{{ form.as_p }}


<input type="submit" value="Draw Molecule" name="draw"/>  |    <input type="submit" value="Search Thermochemistry" name="thermo">
|    <input type="submit" value="Reset Form" name="reset">
</form>

{% endblock %}
