{% load markup %}
<table class="reference">
    <tr>
        <td class="label">Reference:</td>
        <td class="reference">{{ entry.reference|restructuredtext }}</td>
    </tr>
    <tr>
        <td class="label">Reference link:</td>
        <td><a href="{{ entry.referenceLink }}">{{ entry.referenceLink }}</a></td>
    </tr>
    <tr>
        <td class="label">Reference type:</td>
        <td>{{ entry.referenceType|title }}</td>
    </tr>
    <tr>
        <td class="label">Short description:</td>
        <td>{{ entry.shortDesc|restructuredtext }}</td>
    </tr>
    <tr>
        <td class="label">Long description:</td>
        <td>{{ entry.longDesc|restructuredtext }}</td>
    </tr>
</table>
