{% load markup %}
<table class="reference">
   {% if reference %}
    <tr>
        <td class="label">Reference:</td>
        <td class="reference">{{ reference|restructuredtext }}</td>
    </tr>
{% endif %}
{% if reference.url %}
    <tr>
        <td class="label">Reference&nbsp;link:</td>
        <td><a href="{{ reference.url }}">{{ reference.url }}</a></td>
    </tr>
{% endif %}
    <tr>
        <td class="label">Reference&nbsp;type:</td>
        <td>{{ entry.referenceType|title }}</td>
    </tr>
    <tr>
        <td class="label">Short&nbsp;description:</td>
        <td>{{ entry.shortDesc|restructuredtext }}</td>
    </tr>
    <tr>
        <td class="label">Long&nbsp;description:</td>
        <td>{{ entry.longDesc|restructuredtext }}</td>
    </tr>
</table>
