{% extends "base.html" %}

{% load gravatar %}
{% load render_solvation %}
{% load databasefilters %}



{% block title %}
{% if section != '' %}
RMG Solvation {{ section|title }}
{% else %}
RMG Solvation Database
{% endif %}
{% endblock %}

{% block extrahead %}
<style>
table.solvationEntryData {
    text-align: center;
    margin-bottom: 1em;
}


table.solvationEntryData td.key {
    font-weight: bold;
    text-align: right;
}

table.solvationEntryData td.equals {
    text-align: center;
}

table.solvationEntryData td.value {
    text-align: left;
}

table.solvationEntryData td.reference p {
    margin: 0px;
}
</style>


{% endblock extrahead%}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.solvation' %}">Solvation</a></li>
<li><a href="{% url 'database.views.solvation' section=section %}">{{ section|title }}</a></li>
<li><a href="{% url 'database.views.solvation' section=section subsection=subsection %}">{{ subsection }}</a></li>
{% if entry.index and entry.index != -1 %}<li><a href="{% url 'database.views.solvationEntry' section=section subsection=subsection index=entry.index %}">{{ entry.index }}. {{ entry.label }}</a></li>{% endif %}
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{% if entry.index %}{{ entry.index }}. {{ entry.label }}{% endif %}{% endblock %}

{% block page_body %}
<h2>Structure</h2>
<p>
{% if structure == '' %}
No structure given.
{% else %}
{{ structure|safe }}
{% endif %}
</p>

<h2>Solvation Data</h2>
<table class="solvationEntryData">
{{ solvation|render_solvation_math:user }}
</table>

<h2>Reference</h2>
{% include "reference.html" %}

<br/>

{% endblock %}
