{% extends "base.html" %}



{% block title %}
{% if section != '' %}
RMG Solvation {{ section|title }}
{% else %}
RMG Solvation Database
{% endif %}
{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.solvation' %}">Solvation</a></li>
<li><a href="{% url 'database.views.solvation' section=section %}">{{ section|title }}</a></li>
<li><a href="{% url 'database.views.solvation' section=section subsection=subsection %}">{{ databaseName }}</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{{ databaseName }}{% endblock %}

{% block page_body %}

<table class="solvationData">
<tr>
    <th>Label</th>
    <th>Molecule</th>
    <th>Data&nbsp;Format</th>
</tr>

{% for index, label, structure, dataFormat in entries %}
<tr>
    <td><a href="{% url 'database.views.solvationEntry' section=section subsection=subsection index=index %}">{{ index }}. {{ label }}</a></td>
    <td>{{ structure|safe }}</td>
    <td>{{ dataFormat }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
