{% extends "base.html" %}

{% load gravatar %}
{% load render_solvation %}
{% load databasefilters %}



{% block title %}Solvation Data{% endblock %}

{% block extrahead %}

{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.solvation' %}">Solvation</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Solvation Data{% endblock %}

{% block page_body %}
{% if solventDataInfo %}
<h3>Solvent Name: {{ solventDataInfo.0 }}</h3>
<P>
<table class="solvationEntryData">
{{ solventDataInfo.1|render_solvation_math:user }}
</table>
<P>
{% endif %}

<h2>Solute Structure</h2>
<p>
{{ structure|safe }}
</p>

{% for soluteSource, soluteData, correction in solvationDataList %}
<h3>Result #{{ forloop.counter }} &ndash; {{ soluteSource }}</h3>
<h4>Solute Data</h4>
<table class="solvationEntryData">
{{ soluteData|render_solvation_math:user }}
</table>
<P>
{% if correction %}
<h4>Solvation Data</h4>
<table class="solvationEntryData">
{{ correction|render_solvation_math:user }}
{% endif %}
</table>
<P>
Comments: {{ correction.comment }} 
<P>
{% endfor %}


{% endblock %}
