{% extends "base.html" %}



{% block title %}
{% if section != '' %}
RMG Solvation {{ section|title }}
{% else %}
RMG Solvation Database
{% endif %}
{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database:index' %}">Database</a></li>
<li><a href="{% url 'database:solvation' %}">Solvation</a></li>
<li><a href="{% url 'database:solvation' section=section %}">{{ section|title }}</a></li>
<li><a href="{% url 'database:solvation' section=section subsection=subsection %}">{{ databaseName }}</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{{ databaseName }}{% endblock %}

{% block page_body %}

<table class="solvationData">
<tr>
    <th>Label</th>
    <th>Molecule</th>
    <th>Data&nbsp;Format</th>
</tr>

{% for index, label, structures, dataFormat in entries %}
<tr>
    <td><a href="{% url 'database:solvation-entry' section=section subsection=subsection index=index %}">{{ index }}. {{ label }}</a></td>
    <td>
    {% for structure in structures %}
        {{ structure|safe }}
    {% endfor %} 
    </td>
    <td>{{ dataFormat }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
