{% extends "base.html" %}
{% load static %}
{% load gravatar %}
{% load databasefilters %}
{% load render_solvation %}


{% block title %}RMG: Solvation Search{% endblock %}


{% block navbar_items %}
<li><a href="{% url 'database:solvation-searchML' %}">Solvation Prediction 298 K Using Machine Learning</a></li>
{% endblock %}

{% block page_title %}Solvation Prediction at 298 K Using Machine Learning{% endblock %}

{% block page_body %}

{% if additionalInfoList %}
<P><br></P>
<h3>Additional information:</h3>
{% for additionalInfo in additionalInfoList %}
<p>{{ additionalInfo }}</p>
{% endfor %}
{% endif %}

<P><br>
{% autoescape off %}
   {{ html_table }}
{% endautoescape %}
</P>



{% endblock %}s