{% extends "base.html" %}

{% load gravatar %}
{% load render_solvation %}
{% load databasefilters %}



{% block title %}Solvation Data{% endblock %}

{% block extrahead %}

{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database:index' %}">Database</a></li>
<li><a href="{% url 'database:solvation' %}">Solvation</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Solvation Data{% endblock %}

{% block page_body %}
{% if solventDataInfo %}

<h2>Solvent Info</h2>

<h3>Solvent Structure</h3>
<p>
{% for solventStructure in solventStructures %}
    {% if solventStructure == '' %}
        No structure given.
    {% else %}
        {{ solventStructure|safe }}
    {% endif %}
{% endfor %} 

</p>

<h3>Solvent Name: {{ solventDataInfo.0 }}</h3>
<P>
<table class="solvationEntryData">
{{ solventDataInfo.1|render_solvation_math:user }}
</table>
<P>
{% endif %}

<h2>Solute Info</h2>

<h3>Solute Structure</h3>
<p>
{% if soluteStructure == '' %}
No structure given.
{% else %}
{{ soluteStructure|safe }}
{% endif %}

</p>

{% for soluteSource, soluteData, correction, correction_temp in solvationDataList %}
<h3>Result #{{ forloop.counter }} &ndash; {{ soluteSource }}</h3>
<h4>Solute Data</h4>
<table class="solvationEntryData">
{{ soluteData|render_solvation_math:user }}
</table>
<P>
{% if correction %}
<h4>Solvation Data at 298 K</h4>
<table class="solvationEntryData">
{{ correction|render_solvation_math:user }}
{% endif %}
</table>
{% if correction_temp %}
<h4>Solvation Data at the Input Temperature</h4>
<table class="solvationEntryData">
{{ correction_temp|render_solvation_math:user }}
{% endif %}
<P>
Comments: {{ correction.comment }} 
<P>
{% endfor %}


{% endblock %}
