{% extends "base.html" %}



{% block title %}
{% if section != '' %}
RMG Statmech {{ section|title }}
{% else %}
RMG Statmech Database
{% endif %}
{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.statmech' %}">Statmech</a></li>
<li><a href="{% url 'database.views.statmech' section=section %}">{{ section|title }}</a></li>
<li><a href="{% url 'database.views.statmech' section=section subsection=subsection %}">{{ databaseName }}</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{{ databaseName }}{% endblock %}

{% block page_body %}

<table class="statmechData">
<tr>
    <th>Label</th>
    <th>Molecule</th>
    <th>Data&nbsp;Format</th>
</tr>

{% for index, label, structure, dataFormat in entries %}
<tr>
    <td><a href="{% url 'database.views.statmechEntry' section=section subsection=subsection index=index %}">{{ index }}. {{ label }}</a></td>
    <td>{{ structure|safe }}</td>
    <td>{{ dataFormat }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
