{% extends "base.html" %}

{% load gravatar %}
{% load render_statmech %}
{% load databasefilters %}



{% block title %}Statmech Data{% endblock %}

{% block extrahead %}

{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.statmech' %}">Statmech</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Statmech Data{% endblock %}

{% block page_body %}
<h2>Structure</h2>
<p> 
{{ structure|safe }}
</p>

<h2>Solvent Data</h2>

{% for entry, statmech, source, href in statmechDataList %}
{% if href != '' %}<a href="{{ href }}">{% endif %}
<h3>Result #{{ forloop.counter }} &ndash; {{ source }}</h3>
{% if href != '' %}</a>{% endif %}

{% if entry.label != '' %}
<p>Species label: {{ entry.label }}</p>
{% endif %}

<table class="statmechEntryData">
{{ statmech|render_statmech_math:user }}
</table>
<P>
Comments: {{ statmech.comment }} 
<P>
{% endfor %}


{% endblock %}
