{% extends "base.html" %}



{% block title %}
{% if section != '' %}
RMG Thermodynamics {{ section|title }}
{% else %}
RMG Thermodynamics Database
{% endif %}
{% endblock %}

{% block extrahead %}{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.thermo' %}">Thermodynamics</a></li>
<li><a href="{% url 'database.views.thermo' section=section %}">{{ section|title }}</a></li>
<li><a href="{% url 'database.views.thermo' section=section subsection=subsection %}">{{ databaseName }}</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{{ databaseName }}{% endblock %}

{% block page_body %}

<table class="thermoData">
<tr>
    <th>Label</th>
    <th>Molecule</th>
    <th>Data&nbsp;Format</th>
</tr>
{% for index, label, structure, dataFormat in entries %}
<tr>
    <td><a href="{% url 'database.views.thermoEntry' section=section subsection=subsection index=index %}">{{ index }}. {{ label }}</a></td>
    <td>{{ structure|safe }}</td>
    <td>{{ dataFormat }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
