{% extends "thermoEntry.html" %}
{% load markup %}
{% load gravatar %}

{# Required if running Django 1.3 or 1.4 #}
{% load url from future %}

{% block extrahead %}
<script type="text/javascript">
jQuery(document).ready(function() {
   $('#id_change').keyup(function() {
      var str = $(this).val();
      $('#this_action').text(str);
   });
});
</script>
{% endblock %}


{% block page_body %}

<form method="post" id="entry_form">

{{ form.as_ul }}
{% csrf_token %}
<input type="submit" value="Save" name="Save" />
</form>

<br>



<br/>

{% endblock %}
