{% extends "base.html" %}

{% load gravatar %}
{% load render_transport %}
{% load databasefilters %}



{% block title %}
{% if section != '' %}
RMG Transport {{ section|title }}
{% else %}
RMG Transport Database
{% endif %}
{% endblock %}

{% block extrahead %}
<style>
table.transportEntryData {
    text-align: center;
    margin-bottom: 1em;
}


table.transportEntryData td.key {
    font-weight: bold;
    text-align: right;
}

table.transportEntryData td.equals {
    text-align: center;
}

table.transportEntryData td.value {
    text-align: left;
}

table.transportEntryData td.reference p {
    margin: 0px;
}
</style>


{% endblock extrahead%}

{% block navbar_items %}
<li><a href="{% url 'database.views.index' %}">Database</a></li>
<li><a href="{% url 'database.views.transport' %}">Transport</a></li>
<li><a href="{% url 'database.views.transport' section=section %}">{{ section|title }}</a></li>
<li><a href="{% url 'database.views.transport' section=section subsection=subsection %}">{{ subsection }}</a></li>
{% if entry.index and entry.index != -1 %}<li><a href="{% url 'database.views.transportEntry' section=section subsection=subsection index=entry.index %}">{{ entry.index }}. {{ entry.label }}</a></li>{% endif %}
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}{% if entry.index %}{{ entry.index }}. {{ entry.label }}{% endif %}{% endblock %}

{% block page_body %}

<h2>Structure</h2>
<p>
{{ structure|safe }}
</p>

<h2>Transport Data</h2>
<table class="transportEntryData">
{{ transport|render_transport_math:user }}
</table>

<h2>Reference</h2>
{% include "reference.html" %}


{% endblock %}
