/* This file contains additional styles used within the main app */

div.error {
    color: red;
}

td.key, td.fieldKey {
    width: 160px;
    vertical-align: middle;
    font-weight: bold;
}

td.value img, td.fieldValue img {
    vertical-align: middle;
}

td.fieldValue input, td.fieldValue textarea {
    width: 200px;
}

td.section {
    color: #F04040;
    font-size: 125%;
    font-weight: bold;
}

table.networks {
    width: 100%;
}

table.networks th {
    text-align: left;
}