{% extends "pdepbase.html" %}

{# Required if running Django 1.3 or 1.4 #}
{% load url from future %}

{% block title %}MEASURE{% endblock %}

{% block navbar_items %}
<a href="{% url 'pdep.views.index' %}">MEASURE</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}<img src="/media/measure-banner.png" alt="MEASURE"/>{% endblock %}

{% block page_body %}
<p><strong>MEASURE</strong> is a tool for computing pressure-dependent rate
coefficients <i>k</i>(<i>T</i>,<i>P</i>)</span> for chemical reaction networks.
You can use it right from your web browser by following the link below:</p>

<p class="biglink"><a href="{% url 'pdep.views.start' %}">Create new network</a></p>

{% if user.is_authenticated %}
<h2>Your previous reaction networks</h2>
<table class="networks">
    <tr>
        <th style="width: 8em;">Network Id</th>
        <th>Network Title</th>
        <th style="width: 8em;"></th>
    </tr>
{% for network in networks %}
    <tr>
        <td><a href="{% url 'rmgweb.pdep.views.networkIndex' networkKey=network.pk %}">{{ network.pk|slice:":8" }}</a></td>
        <td><a href="{% url 'rmgweb.pdep.views.networkIndex' networkKey=network.pk %}">{{ network.title }}</a></td>
        <td style="font-size: 80%; white-space: nowrap;">Last modified on {{ network.getLastModifiedDate }}</td>
    </tr>
{% endfor %}
</table>
<br/>
{% else %}
<a href="{% url 'main.views.login' %}?next={{ request.path }}">Log in</a> to see your previous reaction networks.
{% endif %}


<p>You can also download and install MEASURE on your own computer if you
prefer. This is recommended if you have lots of calculations to perform.</p>

{% endblock %}
