{% extends "pdepbase.html" %}

{% block title %}{{ network.title }}{% endblock %}

{% block navbar_items %}
<a href="{% url pdep.views.index %}">MEASURE</a> &raquo;
<a href="{% url pdep.views.networkIndex networkKey=networkKey%}">{{ network.title }}</a>
{% endblock %}

{% block sidebar_items %}
{% include "networkSidebar.html" %}
{% endblock %}

{% block page_title %}{{ network.title }}{% endblock %}

{% block page_body %}

{% if not network.inputFileExists %}

<div class="messagebox">
<p class="bigmessage">No input has been provided for this network.</p>
<p>You can add input by using
<a href="{% url pdep.views.networkWizard networkKey=networkKey%}">the wizard</a>,
<a href="{% url pdep.views.networkEditor networkKey=networkKey%}">the editor</a>, or by
<a href="{% url pdep.views.networkUpload networkKey=networkKey%}">uploading a file</a>.
</p>
</div>

{% else %}

<h2>Potential Energy Surface</h2>
{% if network.surfaceFilePNGExists %}
{% if network.surfaceFilePNGOutOfDate %}
<div class="warning">
<strong>Warning:</strong> Your potential energy surface may be out of date. You may want to <a href="{% url pdep.views.networkDrawPNG networkKey=networkKey %}">redraw it</a>.
</div>
{% endif %}
<p style="text-align: center;">
<a href="/media/pdep/networks/{{ networkKey }}/PES.png"><img src="/media/pdep/networks/{{ networkKey }}/PES.png"/></a>
</p>
{% else %}
<div class="messagebox">
<p class="bigmessage">No potential energy surface has been drawn for this network.</p>
<p>To visualize your potential energy surface, <a href="{% url pdep.views.networkDrawPNG networkKey=networkKey %}">click here</a>.
</p>
</div>
{% endif %}

<h2>Files</h2>

{% if network.inputFileExists %}
{% include "networkFile.html" with filename="input.py" filesize=filesize.inputFile modificationTime=modificationTime.inputFile icon="/media/icons/text-x-python.png" %}
<br/>
{% endif %}

{% if network.outputFileExists %}
{% include "networkFile.html" with filename="output.py" filesize=filesize.outputFile modificationTime=modificationTime.outputFile icon="/media/icons/text-x-python.png" %}
<br/>
{% endif %}
{% if network.logFileExists %}
{% include "networkFile.html" with filename="MEASURE.log" filesize=filesize.logFile modificationTime=modificationTime.logFile icon="/media/icons/text-x-generic.png" %}
<br/>
{% endif %}

{% if network.surfaceFilePNGExists %}
{% include "networkFile.html" with filename="PES.png" filesize=filesize.surfaceFilePNG modificationTime=modificationTime.surfaceFilePNG icon="/media/icons/image-x-generic.png" %}
<br/>
{% endif %}
{% if network.surfaceFilePDFExists %}
{% include "networkFile.html" with filename="PES.pdf" filesize=filesize.surfaceFilePDF modificationTime=modificationTime.surfaceFilePDF icon="/media/icons/application-pdf.png" %}
<br/>
{% endif %}
{% if network.surfaceFileSVGExists %}
{% include "networkFile.html" with filename="PES.svg" filesize=filesize.surfaceFileSVG modificationTime=modificationTime.surfaceFileSVG icon="/media/icons/image-svg+xml.png" %}
<br/>
{% endif %}

{% endif %}

{% endblock %}
