{% extends "base.html" %}

{# Required if running Django 1.3 or 1.4 #}
{% load url from future %}

{% block title %}RMG: Pressure Dependent Networks{% endblock %}

{% block navbar_items %}
<a href="{% url 'pdep.views.index' %}">Pressure Dependent Networks</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Pressure Dependent Networks{% endblock %}

{% block page_body %}


<p><strong>CanTherm</strong> can estimate pressure-dependent phenomenological rate coefficients k(T,P) for unimolecular reaction networks of arbitrary complexity. 
The approach is to first generate a detailed model of the reaction network using the one-dimensional master equation,
 then apply one of several available model reduction methods of varying accuracy, speed, and robustness to simplify the detailed model 
 into a set of phenomenological rate coefficients. The result is a set of k(T,P) functions suitable for use in chemical reaction mechanisms.
 
You can use it right from your web browser by following the links below:</p>

<p class="biglink"><a href="{% url 'pdep.views.start' %}">Pressure Dependent Networks</a></p>

<p class="biglink"><a href="{% url 'pdep.views.start' %}">Create new network</a></p>

{% if user.is_authenticated %}
<h2>Your previous reaction networks</h2>
<table class="networks">
    <tr>
        <th style="width: 8em;">Network Id</th>
        <th>Network Title</th>
        <th style="width: 8em;"></th>
    </tr>
{% for network in networks %}
    <tr>
        <td><a href="{% url 'rmgweb.pdep.views.networkIndex' networkKey=network.pk %}">{{ network.pk|slice:":8" }}</a></td>
        <td><a href="{% url 'rmgweb.pdep.views.networkIndex' networkKey=network.pk %}">{{ network.title }}</a></td>
        <td style="font-size: 80%; white-space: nowrap;">Last modified on {{ network.getLastModifiedDate }}</td>
    </tr>
{% endfor %}
</table>
<br/>
{% else %}
<a href="{% url 'main.views.login' %}?next={{ request.path }}">Log in</a> to see your previous reaction networks.
{% endif %}



{% endblock %}
