import os, sys
root = os.path.abspath(os.path.join(os.path.dirname(__file__),'..'))
sys.path.insert(0, root)
sys.path.append(os.path.join(root,'rmgweb'))
sys.path.append(os.path.join(root,'../RMG-Py'))
sys.path.append(os.path.join(root,'../RMG-database'))

os.environ['DJANGO_SETTINGS_MODULE'] = 'rmgweb.settings'
import django.core.handlers.wsgi
application = django.core.handlers.wsgi.WSGIHandler()

"""
Monitor files for changes, and shut down the process if they are detected
"""
from rmgweb import monitor
monitor.start(interval=2.0)
# let's monitor the 'restart' file that lives alongside this script
monitor.track(os.path.join(os.path.dirname(__file__), 'restart'))

# This is only necessary if you are using a cached template loader
# (see https://docs.djangoproject.com/en/dev/ref/templates/api/#loader-types )
from rmgweb.settings import TEMPLATE_LOADERS
if str(TEMPLATE_LOADERS).find('cached') != -1:
    print "Monitoring templates because cached template loader detected."
    for root, dirs, files in os.walk(os.path.abspath(os.path.join(os.path.dirname(__file__),'../rmgweb'))):
        for name in files:
            if root.find('rmgweb/media') != -1:
                continue # don't monitor things in media
            if os.path.splitext(name)[1] in ['.html', '.js']:
                # probably a template file, let's monitor it
                monitor.track(os.path.join(root, name))
