{% extends "base.html" %}



{% block title %}Convert Adjacency Lists{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'rmg.views.index' %}">RMG Tools</a></li>
<li><a href="{% url 'rmg.views.convertAdjlists' %}">Convert Adjacency Lists</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Convert Adjacency Lists{% endblock %}

{% block page_body %}

<p>
Upload your RMG Dictionary text file and convert them back into old style 
adjacency lists compatible with RMG-Java. 
</p>

<p>
Note that adjacency lists containing heteroatoms such as N, Ar, Ne, and He are
not compatible with old style adjacency lists and will result in conversion
failure.
</p>
<hr/>

{% if path %}
<a href ="../{{path}}">Click here for your generated output file.</a>
{% endif %}

<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

{% endblock %}
