{% extends "base.html" %}



{% block title %}Plot Kinetics{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'rmg.views.index' %}">RMG Tools</a></li>
<li><a href="{% url 'rmg.views.plotKinetics' %}">Plot Kinetics</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Plot Kinetics{% endblock %}

{% block page_body %}

<p>
Upload a chemkin file containing species thermodynamics and kinetics in order to plot both forward and reverse kinetics.
You may upload an optional RMG Dictionary text file to draw the molecules
and generate search links for individual reaction kinetics within the RMG database.  This dictionary file must
include an adjacency list for all species in the chemkin file, including inerts and collider species.
</p>
<hr/>

<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
<P><b>Chemkin File:</b> {{form.ChemkinFile}}
<P><b>Dictionary File (Optional):</b> {{form.DictionaryFile}}
<P><b>Not an RMG-generated Chemkin file:</b> {{form.Foreign}}
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

{% endblock %}
