{% extends "base.html" %}



{% block title %}Plot Kinetics{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'rmg:index' %}">RMG Tools</a></li>
<li><a href="{% url 'rmg:plot-kinetics' %}">Plot Kinetics</a></li>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_title %}Plot Kinetics{% endblock %}

{% block page_body %}

<p>
    Upload a chemkin file containing species thermodynamics and kinetics in order to plot both forward and reverse
    kinetics. Species thermodynamics are required if you would like accurate reverse kinetics.
</p>
<p>
    Uploading an RMG dictionary file will enable generation of species drawings and search links for the reactions
    within RMG database. However, if the reactions to be plotted have pressure dependent kinetics with third-body
    collider efficiencies, you MUST include a dictionary file including structures of all the colliders for proper
    evaluation of the kinetics.
</p>
<hr/>

<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
<P><b>Chemkin File:</b> {{form.chem_file}}
<P><b>Dictionary File:</b> {{form.dict_file}}
<P><b>Not an RMG-generated Chemkin file:</b> {{form.foreign}}
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

{% endblock %}
